* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	min-height: 100vh;
	background: linear-gradient(
		to right top,
		#00ffff,
		#65dfc9
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

.glass1,
.glass2 {
	/* background: white; */

	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
}

.glass1 {
	min-height: 60vh;
	width: 70%;
}

.glass2 {
	min-height: 20vh;
	width: 10%;
}
